<section id="services_manage" class="services">

	<h1>Authentication Services - Settings</h1>

	<h2>You can use these accounts to sign in</h2>
	
	<% @services.each do |service| %>  
		  <div class="service_in_use round">  
		      <div class="service_img">
			      	<% if ['aol', 'facebook', 'github', 'google', 'openid', 'twitter', 'yahoo'].index(service.provider) %>
						<%= image_tag "#{service.provider}_64.png", :size => "64x64" %>
					<% else %>
						<%= image_tag "openid_64.png", :size => "64x64" %>
					<% end %>
			  </div>
			
			  <div class="service_userdata">
			    <% if service.uid.starts_with?('http') %>
					<%= service.uid.scan(/http[s]*:\/\/.*?\//)[0] %>
				<% else %>
					<%= service.provider.capitalize %>: <%= service.uid %>
				<% end %>
				<br />
				<%= service.uname if service.uname != '' %><br />
			    <%= service.uemail if service.uemail != '' %><br />
				<% if session[:service_id] == service.id %>
					<span>Signed in</span>
				<% else %>
					<%= link_to "Remove this service", service, :confirm => 'Are you sure you want to remove this authentication?', :method => :delete, :class => "remove" %>
				<% end %>
			  </div>
		  </div>  
	<% end %>


	<div id="services_available">
		<h2>You can connect more accounts to sign in</h2>

		<%= render 'services_list'%>
	</div>	
</section>